@use 'mixins' as *;
@use 'styles/blog-list-header';
@use 'styles/blog-list-filter';
@use 'styles/blog-list-card';
@use 'styles/blog-list-grid';
@use 'styles/blog-list-empty';

:host {
  display: block;
  padding: 6.5rem 1.5rem 5rem;
  max-width: var(--container-max-width);
  margin: 0 auto;

  @include max-md {
    padding: 5rem 1rem 3rem;
  }
}

.posts-container {
  width: 100%;
}
