<footer id="contact">
  <div class="container footer-inner">
    <div class="contact-block">
      <h2>Контакты для связи</h2>
      <p>
        Ищу работу на позицию
        <strong>Angular / Frontend Developer</strong>
        (Middle / Middle+). Готов обсудить задачи и проекты.
      </p>

      <div class="contact-links">
        <a href="https://t.me/IVKLCD" target="_blank" rel="noopener noreferrer">
          <svg lucideSend size="16"></svg>
          <span>Telegram: &#64;IVKLCD</span>
        </a>

        <a
          href="https://github.com/IVKLD"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg app-github-icon size="16"></svg>
          <span>GitHub: IVKLD</span>
        </a>

        <a href="mailto:igniver696@gmail.com">
          <svg lucideMail size="16"></svg>
          <span>igniver696&#64;gmail.com</span>
        </a>
      </div>
    </div>

    <div class="footer-meta">
      <span>© 2026 IgnI • Angular &amp; TypeScript</span>
      <a href="#">Наверх ↑</a>
    </div>
  </div>
</footer>
