<footer id="contact">
  <div class="container">
    <div>
      <h2>Контакты</h2>
      <p>
        <strong>Angular / Frontend Developer</strong>
        (Middle / Middle+). Открыт к новым предложениям и проектам.
      </p>

      <div class="contact-links">
        <a appOutlineButton href="https://t.me/IVKLCD" target="_blank" rel="noopener noreferrer">
          <svg lucideSend size="16"></svg>
          <span>Telegram: &#64;IVKLCD</span>
        </a>

        <a
          appOutlineButton
          href="https://github.com/IVKLD"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg app-github-icon size="16"></svg>
          <span>GitHub: IVKLD</span>
        </a>

        <a appOutlineButton href="mailto:igniver696@gmail.com">
          <svg lucideMail size="16"></svg>
          <span>igniver696&#64;gmail.com</span>
        </a>
      </div>
    </div>

    <div class="meta">
      <div class="brand">
        <app-logo-icon [size]="16" />
        <span>© 2026 IgnI • Angular &amp; TypeScript</span>
      </div>
      <a appGhostButton size="sm" href="#">
        <span>Наверх ↑</span>
      </a>
    </div>
  </div>
</footer>
