<header>
  <div>
    <a href="#">
      <span>IgnI</span>
      <span>/</span>
      <span>frontend dev</span>
    </a>

    <nav>
      <a href="#projects">Проекты</a>
      <a href="#skills">Стек</a>
      <a href="#contact">Контакты</a>
    </nav>

    <div>
      <button
        (click)="terminal.open()"
        type="button"
        aria-label="Терминал (⌘K / Ctrl+K)"
      >
        <svg lucideTerminal size="14"></svg>
        <span>CLI</span>
        <kbd>⌘K</kbd>
      </button>

      <hr />

      <a
        href="https://github.com/IVKLD"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub профиль"
      >
        <svg app-github-icon size="16"></svg>
      </a>

      <a
        href="https://t.me/IVKLCD"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Telegram"
      >
        <svg lucideSend size="16"></svg>
      </a>
    </div>
  </div>
</header>
