@use 'mixins' as *;

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @include bp-2k {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
