@use 'mixins' as *;

[app-dialog-content] {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 1.5rem;
  gap: 1.4rem;
  background: var(--bg-deep);

  @include bp-2k {
    padding: 2.2rem;
    gap: 2rem;
  }

  @include bp-4k {
    padding: 3rem;
    gap: 2.5rem;
  }
}
